$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    // background: #dfdfdf;
    background: $white-color;
}

ion-row {
    height: $height100;
}

ion-col {
    // border: 1px solid #488aff;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}

ion-icon {
    margin-right: 2vh;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.85;
    width: 45%;
}

.settings-btn {
    position: fixed;
    right: 0;
    top: 3em;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}

/* The alert message box */
.alert {
    padding: 5px;
    color: #f44336; /* red */
    margin-left: 16px;
  }