<ion-header>
  <ion-toolbar>
    <ion-icon style="padding-left: 1em;" slot="start" name="close" (click)="myDismiss()"></ion-icon>      
    <ion-title *ngIf="action==='edit'" slot="start">Edit product</ion-title>
    <ion-title *ngIf="action==='add-new'" slot="start">Add product</ion-title>  
  </ion-toolbar>
</ion-header>
<ion-content>

    <form [formGroup]="form" (submit)="submit()">

        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-input formControlName="name" type="text" placeholder="Φραππέ"></ion-input>
            </ion-item>
            <div class="alert" *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">
              <ion-icon name="information-circle-outline"></ion-icon>
              A name for the product is required
            </div>
            <ion-item>
              <ion-label position="stacked">Category</ion-label>
              <ion-input formControlName="category" type="text" placeholder="Καφές"></ion-input>
            </ion-item>
            <div class="alert" *ngIf="form.controls['category'].hasError('required') && form.controls['category'].touched">
              <ion-icon name="information-circle-outline"></ion-icon>
              A category for the product is required
            </div>
            <ion-item>
              <ion-label position="stacked">Price</ion-label>
              <ion-input formControlName="price" type="number" min=0></ion-input>
            </ion-item>
            <div class="alert" *ngIf="form.controls['price'].hasError('required') && form.controls['price'].touched">
              <ion-icon name="information-circle-outline"></ion-icon>
              A price for the product is required
            </div>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title>Details</ion-card-title>
          </ion-card-header>
          <div formArrayName="details">
            <div *ngFor="let detail of detailFormGroup.controls; let i = index;">
              <div [formGroupName]="i">
                <ion-card>
                  <ion-item-divider>
                    <ion-label>Obligatory #{{i+1}}</ion-label>
                    <ion-icon name="close" slot="end" (click)="removeDetail(i)"></ion-icon>
                  </ion-item-divider>
                  <ion-card-content>
                    <ion-item>
                      <ion-label position="stacked">Type Details</ion-label>
                      <ion-input formControlName="type" type="text" placeholder="Ζάχαρη"></ion-input>
                    </ion-item>
                    <div class="alert" *ngIf="getDetailsFormGroup(i).controls['type'].touched && getDetailsFormGroup(i).controls['type'].hasError('required')">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      A type name of details is required
                    </div>
                    <ion-item>
                      <ion-label position="stacked">Choices Details</ion-label>
                      <ion-input formControlName="choices" type="text" placeholder="σκέτος,μέτριος,γλυκός"></ion-input>
                    </ion-item>
                    <div class="alert" *ngIf="getDetailsFormGroup(i).controls['choices'].touched && getDetailsFormGroup(i).controls['choices'].hasError('required')">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      A name of details is required
                    </div>
                    <ion-item>
                      <ion-label position="stacked">Multiple Details</ion-label>
                      <ion-checkbox formControlName="multiple"></ion-checkbox>
                    </ion-item>
                    <div class="alert" *ngIf="getDetailsFormGroup(i).controls['multiple'].touched && getDetailsFormGroup(i).controls['multiple'].hasError('required')">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      An email of details is required
                    </div>
                  </ion-card-content>
                </ion-card>
              </div>
            </div>
          </div>
  
          <ion-item lines="none">
            <ion-button shape="round" slot="end" (click)="addDetail()">
              <ion-icon name="add" slot="start"></ion-icon>
              <ion-label>Add Obligatory Choice</ion-label>
            </ion-button>
          </ion-item>
        </ion-card>
  
        <ion-card>
            <ion-card-header>
              <ion-card-title>Optional Details</ion-card-title>
            </ion-card-header>
            <div formArrayName="detailsoptional">
              <div *ngFor="let detail of detailOptionalFormGroup.controls; let i = index;">
                <div [formGroupName]="i">
                  <ion-card>
                    <ion-item-divider>
                      <ion-label>Optional #{{i+1}}</ion-label>
                      <ion-icon name="close" slot="end" (click)="removeDetailOptional(i)"></ion-icon>
                    </ion-item-divider>
    
                    <ion-card-content>
                      <ion-item>
                        <ion-label position="stacked">Type Details</ion-label>
                        <ion-input formControlName="type" type="text"></ion-input>
                      </ion-item>
                      <div class="alert" *ngIf="getDetailsOptionalFormGroup(i).controls['type'].touched && getDetailsOptionalFormGroup(i).controls['type'].hasError('required')">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        A type name of details is required
                      </div>
                      <ion-item>
                        <ion-label position="stacked">Choices Details</ion-label>
                        <ion-input formControlName="choices" type="text"></ion-input>
                      </ion-item>
                      <div class="alert" *ngIf="getDetailsOptionalFormGroup(i).controls['choices'].touched && getDetailsOptionalFormGroup(i).controls['choices'].hasError('required')">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        A name of details is required
                      </div>
                      <ion-item>
                        <ion-label position="stacked">Multiple Details</ion-label>
                        <ion-checkbox formControlName="multiple"></ion-checkbox>
                      </ion-item>
                      <div class="alert" *ngIf="getDetailsOptionalFormGroup(i).controls['multiple'].touched && getDetailsOptionalFormGroup(i).controls['multiple'].hasError('required')">
                        <ion-icon name="information-circle-outline"></ion-icon>
                        An email of details is required
                      </div>
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </div>
  
            <ion-item lines="none">
              <ion-button color="warning" shape="round" slot="end" (click)="addDetailOptional()">
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-label>Add Optional Choice</ion-label>
              </ion-button>
            </ion-item>
          </ion-card>
    </form>
  
    <ion-item lines="none">
      <ion-button [disabled]="!form.valid" color="success" shape="round" slot="end" (click)="submit()">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        <ion-label>Submit Product</ion-label>
      </ion-button>
    </ion-item>  

</ion-content>