<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>products</ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)='goToOrderList()'>
        <ion-icon slot="icon-only" name="list-box"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='12' size-md='6' size-lg='3' *ngFor='let p of products; let i = index'>
        <!-- <ion-card (click)='products(category)'> -->
        <!-- <ion-card (click)='openModal(p.name, p.price)'> -->
        <ion-card (click)="details(i)">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size='9'>
                  {{p.name}}
                </ion-col>
                <ion-col size='3'>
                  {{p.price}} €
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
