<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title slot="start"><ion-text>{{tableName}}</ion-text></ion-title>

    <ion-buttons slot="end">
      <ion-chip *ngIf="total && !unsentProducts.length" (click)="payoffProducts()">
        € {{total}}
      </ion-chip>
      <ion-button (click)='categories()'>
          <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div *ngIf="!hasProducts;then tapForProducts else showProducts"></div>

<ng-template #tapForProducts>
  <ion-content padding (click)='categories()'>
    <ion-text color="medium" class="noOrderText">
      <h1>No products yet</h1>
    </ion-text>
    <img id="addImage" src="assets/images/plus.png" alt="add-products">
    <ion-text color="medium" class="noOrderText">
      <h1>Tap here to add products</h1>
    </ion-text>
  </ion-content>
</ng-template>

<ng-template #showProducts>
  <ion-content no-padding >
    <ion-list>
      <ion-item *ngFor="let p of unsentProducts; let i = index">
        <ion-label>
          <ion-text color='danger'>{{p.quantity}}</ion-text>
          {{p.name}}
        <ion-label text-wrap>
          <ion-note *ngFor="let c of p.choices">
            {{c.selected}}|
          </ion-note>
        </ion-label>
        </ion-label>
        <ion-chip slot="end" outline='true'>€ {{p.price}}</ion-chip>
        <ion-icon no-padding name='trash' slot="end" (click)='removeProduct(i)'></ion-icon>
      </ion-item>
    
      <ion-item *ngFor="let p of products">
        <ion-label>
          <ion-text color='danger'>{{p.quantity}}</ion-text>
          {{p.name}}
        <ion-label text-wrap>
          <ion-note *ngFor="let c of p.choices">
            {{c.selected}}|
          </ion-note>
        </ion-label>
        </ion-label>
        <ion-chip slot="end" outline='true'>€ {{p.price}}</ion-chip>
      </ion-item>
    </ion-list>

    <!-- <ion-list>
      <ion-item *ngFor="let p of products">
        <ion-label>{{p.name}}</ion-label>
        <ion-label slot="end">{{p.price}}</ion-label>
      </ion-item>
    </ion-list> -->
  
  </ion-content>
  <ion-button *ngIf="unsentProducts.length && unsentProducts" class="send-btn" (click)="sendProducts()">
    <ion-icon slot="start" name="send"></ion-icon>
    Send Products
  </ion-button>
  <div *ngIf="!(unsentProducts.length && unsentProducts)">
    <ion-button class="payoff-btn" (click)="payoffProducts()">
      <ion-icon slot="start" name="cash"></ion-icon>
      Payoff € {{total}}
    </ion-button>
  </div>
</ng-template>
