  .selected {
    // --color: rgb(229, 149, 149);
    --background: #EFDFC9;
  }

  .noOrderText {
    text-align: center;
  }

  .send-btn {
    --border-radius: 0;
    height: 50px;
    margin: 0;
    bottom: 0;
    width: 100%;
  }

  .payoff-btn {
    --border-radius: 0;
    --background: #01aa3a;
    height: 50px;
    margin: 0;
    bottom: 0;
    width: 100%;
  }

  .dis-payoff-btn {
    --border-radius: 0;
    --background: #F49E4C;
    height: 50px;
    margin: 0;
    bottom: 0;
    width: 100%;
  }

  .partly-payoff-btn {
    --border-radius: 0;
    --background: #C0AE95;
    height: 50px;
    margin: 0;
    bottom: 0;
    width: 100%;
  }

  .perscent {
    color: #F49E4C;
  }

  .move-btn {
    --background: #7A7FA3;
  }

  #addImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    opacity: .7;
  }