  .noOrderText {
    text-align: center;
  }

  .send-btn {
    --border-radius: 0;
    margin: 0;
    bottom: 0;
    width: 100%;
  }

  .payoff-btn {
    --border-radius: 0;
    --background: #01aa3a;
    margin: 0;
    bottom: 0;
    width: 100%;
  }

  #addImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    opacity: .7;
  }