<ion-header>
  <ion-toolbar>
      <ion-back-button slot="start"></ion-back-button>
    <ion-title>catalogue</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openProductModal(null, 'add-new')">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <ion-grid class="ion-no-padding">
    <div *ngFor="let d of data">
      <ion-item-divider>
        <ion-label>
            <h2>{{d.category}}</h2>
        </ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item lines="full" *ngFor="let item of d.items">
          <ion-label class="ion-text-wrap">{{item.name}}</ion-label>
          <ion-text slot="end" color="primary">€ {{item.price}}</ion-text>
          <ion-icon class="ion-no-padding" name='ice-cream' size="small" slot="start"></ion-icon>
          <ion-button (click)="deleteProduct(item)"
              slot="end" shape="round" fill="clear" color="danger">
            <ion-icon class="ion-no-padding" name="trash" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button (click)="openProductModal(item, 'edit')"
              slot="end" shape="round" fill="clear" color="primary">
            <ion-icon class="ion-no-padding" name="create" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-grid>

</ion-content>
