<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Tables</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)='closeAddTablesPage()'>close page</ion-button>

  <ion-grid>
    <form (ngSubmit)="addTables()" [formGroup]="addTablesForm" novalidate>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-item>
            <ion-label position="stacked">New Position Name</ion-label>
            <ion-input clearInput type="text" formControlName="positionName" name="positionName"></ion-input>
          </ion-item>
          <div class="alert" *ngIf="(addTablesForm.controls['positionName'].invalid || addTablesForm.controls['positionName'].pristine) && addTablesForm.controls['positionName'].touched">
            <ion-icon name="information-circle-outline"></ion-icon>
            Name of service position is required
          </div>

          <ion-item>
            <ion-label position="stacked">Number of tables</ion-label>
            <ion-input clearInput type="number" min='1' formControlName="tablesNumber" name="tablesNumber"></ion-input>
          </ion-item>
          <div class="alert" *ngIf="addTablesForm.controls['tablesNumber'].touched && (addTablesForm.controls['tablesNumber'].pristine || !addTablesForm.controls['tablesNumber'].value )">
            <ion-icon name="information-circle-outline"></ion-icon>
            Number of tables is required
          </div>
          <div class="alert" *ngIf="addTablesForm.controls['tablesNumber'].invalid && addTablesForm.controls['tablesNumber'].touched">
            <ion-icon name="information-circle-outline"></ion-icon>
            Minimum number of tables is 1
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-button [disabled]="addTablesForm.invalid" expand='full' shape="round" type="submit">Create</ion-button>
        </ion-col>
      </ion-row>
    </form>
    
  </ion-grid>

</ion-content>

