<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentPopover($event)">
          <ion-text color="dark">{{username}}</ion-text>
          <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf=isAdmin slot="end" color="medium"><ion-text>Admin mode</ion-text></ion-title>
    <ion-buttons slot="end">
      <ion-button>
          <ion-icon slot="end" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-buttons>
    <div class="container">
      <div class="scroll" scrollX="true">
          <ion-chip *ngFor='let tablePosition of positions' (click)="scrollTo('#'+[tablePosition])">
            {{tablePosition}}
          </ion-chip>
      </div>
    </div>
  </ion-buttons>
</ion-header>

<ion-content>

  <!-- <ion-searchbar animated autocomplete='on'></ion-searchbar> -->
  
  <!--Only admin can see fab button-->
  <ion-fab *ngIf=isAdmin vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button><ion-icon name="construct"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)='openAddTablesPage()'><ion-icon name="add"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="trash"></ion-icon></ion-fab-button>
      <ion-fab-button (click)='initTables()'><ion-icon name="refresh"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>
    <ion-row *ngFor='let tablesData of tablesd'>
      <ion-item-divider id="#{{tablesData.position_table_name}}">
        <ion-label>
            <h2>{{tablesData.position_table_name}}</h2>
        </ion-label>
      </ion-item-divider>
      <ion-col size='4' size-lg='3' *ngFor='let table of tablesData.tables'>
        <ion-card (click)='order(table)'>
          <!-- <ion-card-header>{{tablesData.position_table_name}}, {{table.id}}</ion-card-header> -->
          <ion-card-content>
            {{table.name}}
          </ion-card-content>
          <!-- <ion-card-subtitle>{{table._id}}</ion-card-subtitle> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-button (click)='logout()'>logout</ion-button>
  <ion-button (click)='openAddTablesPage()'>add tables</ion-button> -->

</ion-content>