ion-item-divider {
  --background: transparent;
}
ion-card {
  margin: 5%;
}

.container {
    // width: 100px;
    overflow: hidden; 
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
    .scroll {
      overflow: auto;
    }
  }